body {
    font-family: 'Sora', sans-serif;
    font-size: 2em;
}

#center{
    white-space: pre;
   display: flex;
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    
}

/* #center:hover{
    color: blue;
   
} */

p{
    font-variant: small-caps;
    
    flex-shrink: unset;
}

